<section class="addLocation hidden">
  <h2 class="addLocation__title title"><%= __('add-location-title') %></h2>
  <form class="addLocation__form flex" action="/" method="post">
    <input class="addLocation__form__userID" type="hidden">
    <label class="addLocation__form__name flex">
      <%= __('add-location-name') %>
      <input class="input" type="text" placeholder="<%= __('add-location-name') %>" required>
    </label>
    <label class="addLocation__form__email flex">
      <%= __('add-location-mail') %>
      <input class="input" type="email" placeholder="<%= __('add-location-mail') %>" required>
    </label>
    <span class="addLocation__form__btnContainer flex">
      <button class="addLocation__form__btnContainer__reset btn btn--reset" type="reset"><%= __('form-reset-generic') %></button>
      <button class="addLocation__form__btnContainer__submit btn btn--submit" type="submit"><%= __('form-submit-generic') %></button>
      <button class="addLocation__form__btnContainer__hide btn home-btn" type="button"><%= ('form-cancel-generic') %></button>
    </span>
  </form>
</section>
